*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
.ul{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
input{
    outline: none;
    border: none;
}
body{
    font-family: var(--font-body);
    font-size: 14px;
    color: white;
}
h1{
    font-size: 1.75em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.25em;
}
/* common styles */
.container{
    max-width: 1184px;
    width: 100%;
}
.--dflex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* header styling */
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header__first-row, .header__second-row{
    margin: 0 auto;
    width: 100%;
}
.header__first-row .container, .header__menu{
    margin: 0 auto;
}
.header__first-row{
    height: 118px;
    background-color: var(--main-color, blue);
    padding-top: 48px;
    padding-bottom: 22px;
}
.brand{
    width: 184.02px;
    margin-right: 49px;
}
.brand__logo{
    width: 40px;
}
.brand__company-name{
    margin: 0 auto;
}
.search-field{
    display: flex;
}
.search-field__input{
    width: 508px;
    height: 48px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    border-radius: 8px 0 0 8px;
    padding: 14px 10px 12px 8px;
}
.search-field__btn{
    position: relative;
    background-color: var(--third-color, pink);
    width: 42px;
    min-height: 100%;
    border-radius: 0 8px 8px 0;
}
.search-field__btn i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.right-blocks{
    justify-content: space-between;
    width: 353px;
    margin-left: 34px;
}
.user-icon{
    display: inline-block;
}
.header__second-row{
    height: 87.5px;
    background-color: var(--secondary-color, blue);
}